<main class="hero d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column">
        <div class="main__form">
            <div class="header__content__simbol mb-5">
                <a href="/products" class="header__content__simbol__a d-flex align-items-center">
                    <img src="./appleLogo.svg" alt="simbolo" class="img-fluid">
                    iStore
                </a>
            </div>
            <h1>Descubre un mundo de tecnología revolucionaria <br> y creatividad sin límites</h1>
            <p class="mt-5">¿Queres ver nuestros prdouctos?</p>
            <div class="d-flex align-items-center">
                <a class="hero__btn me-2" href="/register">Registrarse</a>
                <p class="mb-0 me-2">o</p>
                <a class="hero__btn" href="/login">Iniciar sesión</a>
            </div>
        </div>
    </div>
</main>