<div class="container">
    <div class="row g-3 main">
        <div class="col-2"></div>
        <div class="col-3 main__brand">
            <img class="img-fluid main__brand__simbol" src="./appleLogo.svg" alt="">
            <p class="main__brand__logo">iStore</p>
        </div>
        <div class="col-5 main__form">
            <h1 class="main__form__title">Iniciar sesión</h1>
            <form class="main__form__login" id="loginForm">
                <div class="main__form__login__input">
                    <label class="main__form__login__input__label">Email</label>
                    <input class="main__form__login__input__box" type="text" name="email">
                </div>
                <div class="main__form__login__input">
                    <label class="main__form__login__input__label">Contraseña</label>
                    <input class="main__form__login__input__box" type="password" name="password">
                </div>
                <input class="main__form__login__submit" type="submit" value="Iniciar sesión">
            </form>
            <p class="main__form__register">¿No tienes cuenta?<a href="/register">Registrate</a></p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<script src="/js/login.js"></script>