<div class="header">
    <header class="container">   
        <div class="row d-flex align-items-center header__content">
            <div class="col-11  header__content__simbol">
                <a href="/products" class="header__content__simbol__a d-flex align-items-center">
                    <img src="./appleLogo.svg" alt="simbolo" class="img-fluid">
                    iStore
                </a>
            </div>
            <a class="col-1 header__content__btn" href="api/sessions/logout">Logout</a>
        </div>
    </header>
</div>
<div class="container details d-flex align-items-center justify-content-center">
    <div class="row g-3 d-flex align-items-center main__form">
        <p class="product__content__title">Información de la compra</p>
        <div class="col">
            <p class="orderSubtitle">Código de orden</p>
            <p class="product__content__description">{{ticket.code}}</p>
            <p class="orderSubtitle">Comprador</p>
            <p class="product__content__description">{{user.name}}</p>
            <p class="orderSubtitle">Producto</p>
            <p class="product__content__description">{{product.title}}</p>
            <p class="orderSubtitle">Total</p>
            <p class="product__content__description">${{ticket.amount}}</p>
        </div>
    </div>
</div>